.welcome-page-main {
  background-image: url('../../stylesheets/conspiracy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.continue-header {
  font-size: 24px;
  letter-spacing: 1px;
  margin: 20px 0;
}

.continue-paragraph {
  font-size: 18px;
  margin: 10px 0;
}

.login-signup-welcome-button {
  width: 180px;
  padding: 10px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 17px;
  background: rgb(137, 106, 36);
  cursor: pointer;
  color: white;
  line-height: 30px;
  text-decoration: none;
  border: none;
}

.login-signup-welcome-button:hover {
  background-color: rgb(232, 207, 16);
  transition: background-color 0.2s ease;
}
