.home-page-header {
    color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sub-header h3 {
    text-align: center;
}

.post-on-postpage {
    margin-bottom: -30px;
}